.ant-card {
  .ant-card-cover {
    & > div {
      border-radius: 8px 8px 0 0;
    }
  }

  &.ant-card-horizontal {
    display: flex;

    .ant-card-cover,
    .ant-card-body {
      flex: 1;
    }

    .ant-card-cover {
      & > div {
        border-radius: 8px 0 0 8px;
      }
    }

    .ant-card-body {
      .ant-card-meta-title {
        white-space: pre-wrap;
      }
    }
  }
}
