@import 'antd/dist/reset.css';

@tailwind components;
@tailwind utilities;

#fundModule {
  a:active,
  a:hover {
    text-decoration: none;
  }

  /* react-router Link in antd Breadcrumb */
  .ant-breadcrumb a {
    height: auto;
  }

  .ant-upload-list-item-container {
    transition: none;
  }
}

.anticon svg {
  vertical-align: initial; /* inherit; Tailwindcss v3 */
}

.ant-form label {
  margin-bottom: initial; /* 0.5rem; Bootstrap v4 */
}

/* Card Title line breaks */
.ant-card .ant-card-head-title {
  white-space: pre-line;
}
